.nbp-root__wrap {
  box-sizing: border-box;
  margin: auto;
  max-width: 960px;
  padding: 1rem;
}

.nbp-root__header {
  border-bottom: 1px solid #ddd;
}

.nbp-root__main {
  margin: 2rem 0;
}

.nbp-root__footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
  text-align: center;
}
